services:
  ubuntu:
    container_name: autotools-ubuntu
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: ubuntu
    volumes:
      - ../:/app
      - ../docker/data:/data
    environment:
      - PYTHONUNBUFFERED=1
      - PLATFORM=Ubuntu
      - VERBOSE=1

  macos:
    container_name: autotools-macos
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: macos
    volumes:
      - ../:/app
      - ../docker/data:/data
    environment:
      - PYTHONUNBUFFERED=1
      - PLATFORM=macOS
      - VERBOSE=1

  windows:
    container_name: autotools-windows
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: windows
    volumes:
      - ../:/app
      - ../docker/data:/data
    environment:
      - PYTHONUNBUFFERED=1
      - PLATFORM=Windows
      - VERBOSE=1
